# Database
DATABASE_URL="postgresql://user:password@localhost:5432/kinks_db?schema=public"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Testing (set to "true" to use test data with only 15 kinks for easier testing)
NEXT_PUBLIC_USE_TEST_DATA="false"
